In [14]:
import pandas as pd

df = pd.concat(pd.read_excel('data.xlsx', sheet_name=None), ignore_index=True)
df.to_csv('data.csv', index = None)
data = pd.read_csv('data.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Match       138 non-null    object
 1   Result      138 non-null    object
 2   Score       138 non-null    object
 3   Home-Away   138 non-null    object
 4   Competitor  138 non-null    object
dtypes: object(5)
memory usage: 5.5+ KB

In [18]:
data.head(10)

,Match,Result,Score,Home-Away,Competitor
0,Manchester United v Leeds United,W,5-1,H,Leeds United
1,Southampton v Manchester United,D,1-1,A,Southampton
2,Wolverhampton Wanderers v Manchester United,W,0-1,A,Wolverhampton Wanderers
3,Manchester United v Newcastle United,W,4-1,H,Newcastle United
4,Young Boys Berne v Manchester United,L,2-1,A,Young Boys Berne
5,West Ham United v Manchester United,W,1-2,A,West Ham United
6,Manchester United v West Ham United,L,0-1,H,West Ham United
7,Manchester United v Aston Villa,L,0-1,H,Aston Villa
8,Manchester United v Villarreal,W,2-1,H,Villarreal
9,Manchester United v Everton,D,1-1,H,Everton

In [17]:
data.describe()

,Match,Result,Score,Home-Away,Competitor
count,138,138,138,138,138
unique,59,3,27,2,31
top,Manchester United v Manchester City,W,0-0,H,West Ham United
freq,5,77,16,69,8